<%= render "shared/header" %>

<div class="store-main">  <%# // 下メインメニュー %>
  <%# 左下 %>
  <%= render "shared/side-menu" %>
  <%# // 左下 %>
  <%# 右下 %>
  <div class="items">
    <div class="page-name">マイページ</div>
      <%# 自分の出品した商品 %>
        <% @items.each do |item| %>
          <% if item.user.id == current_user.id%>
            <li class='list'>
              <%= link_to item_path(item.id) do %>
                <div class='item-img-content'>  
                  <%= image_tag item.image.variant(resize: '200x200'), class: 'item-img' %>  
                </div>
                <div class='item-info'>
                  <h3 class='item-name'>
                    <%= item.name %>
                  </h3>
                  <div class='item-price'>
                    <span>¥ <%= item.price %></span>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      <%# // 自分の出品した商品 %>
    </div>
    </div>
  </div>
  <%# 右下 %>
</div>

<%= render "shared/footer" %>




<%# <div class="site-name">ECStore</div> %>
    <%# <div class="user-menu"> %>
      
    <%# </div> %>
    <%# <div class="search-menu"> %>
      <%# <%= form_with(url: '#', local: true, method: :get, class: "search-form") do |form| %> 
        <%# <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %> 
        <%# <%= form.submit "検索", class: "search-btn" %> 
      <%# <% end %> 
    <%# </div> %>
<%# </div> %>