<header> <%# // 上ヘッダーメニュー %>
  <%# 左上 %>
  <div class="store-header">
    <div class="side-box">
      <%= link_to 'ECStore', root_path, class: "store-name" %>
    </div>
  </div>
  <%# // 左上 %>
  <%# 右上 %>
  <div class="main-header">
    <div class="header-leftbox">
      <ul class="top-list">
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "menu" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "menu" %></li> 
        <li><%= link_to "カート", cart_path(@cart.user), class: "menu topcart fas fa-shopping-cart fa-2x mycart" %></li>
      <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "menu" %></li> 
          <li><%= link_to '新規登録', new_user_registration_path, class: "menu" %></li> 
      <% end%>
      </ul>
    </div>
    <a href="#" class="edit-btn">商品検索</a>
  </div>
  <%# // 右上 %>
</header>