<%# <%= render "shared/second-header"%>
<% @cart_items.each do |cart_item| %>
  <% @cart_total += (cart_item.item.price)*(cart_item.quantity) %>
  <% @cart_count += cart_item.quantity %>
  <% @cart_id = cart_item.cart_id %>
<% end %>

<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      購入内容の確認
    </h1>
    <%# 購入内容の表示 %>
    <div class='buy-item-info'>
      <%# <%= image_tag "item-sample.png", class: 'buy-item-img' %>
      <div class='buy-item-right-content'>
        <h2 class='buy-item-text'>
          計：<%= @cart_count %>点
        </h2>
        <div class='buy-item-price'>
          <p class='item-price-text'>小計 ¥<%= @cart_total %></p>
        </div>
      </div>
    </div>
    <%# /購入内容の表示 %>

    <div class="lists">お支払いカード
      <div class="card_info">
            【クレジットカード番号】
            <br>
            <%= "**** **** **** " + @card[:last4] %>
            <br>
            【有効期限】
            <br>
            <%= @card[:exp_month] %>
            <%# 有効期限の「月」を取得 %>月
            <%= @card[:exp_year] %>
            <%# 有効期限の「年」を取得 %>年
          </div>
    </div>

    <%# 支払額の表示 %>
    <div class='item-payment'>
      <h1 class='item-payment-title'>
        支払金額
      </h1>
      <p class='item-payment-price'>
        ¥<%= @cart_total %>
      </p>
    </div>
    <%# /支払額の表示 %>

    <%= form_with model: [ Cart.find(@cart_id), @order ], url: cart_orders_path(@cart_id), id: 'charge-form2', class: 'transaction-form-wrap',local: true do |f| %>
      <div class='buy-btn'>
        <%= f.hidden_field :quantity, value: @cart_count %>
        <%= f.hidden_field :total_price, value: @cart_total %>
        <%= f.submit "購入" ,class:"buy-red-btn", id:"btn" %>
      </div>
    <% end %>
  </div>
</div>
<%# <%= render "shared/second-footer"%>