<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.image ,class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= @item.price %>
      </span>
    </div>

    <% if current_user.id == @item.user.id %>
      <%= link_to "商品の編集", edit_item_path, method: :get, class: "item-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", item_path, method: :delete, class:"item-destroy" %>
    <% else %>
      <div class="cart">
        <%= form_with model: @cart_item, url: cart_items_path, local: true do |f|%>   <%# 送信先を変えられないか？ 同じ商品（の数）を更新できるようにしたい %>
          <%= f.label :quantity, "数量"%>
          <%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10] %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.submit "カートに追加", class:"item-red-btn" %>
        <% end %>
      </div>
    <% end %>



    <div class="item-explain-box">
      <span><%= @item.text %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
  </div>
</div>

<%= render "shared/footer" %>
